/* -------------------------------------------------- */
/* 定数 */
/* -------------------------------------------------- */

:root {
  /* アーツ：下部マージン */
  --margin-arts: 12px;

  /* カラー：《心》 */
  --color-astral: #080;

  /* カラー：《技》 */
  --color-mental: #008;

  /* カラー：《体》 */
  --color-ether: #800;
}

/* -------------------------------------------------- */
/* タグジャンプ */
/* -------------------------------------------------- */

/* ヘッダー×２分マージン */
.jump_tag {
  margin-top: calc(var(--sticky-row-height) * -2 - var(--margin-arts));
  padding-top: calc(var(--sticky-row-height) * 2 + var(--margin-arts));
}

/* -------------------------------------------------- */
/* スキル */
/* -------------------------------------------------- */

/* 《心》 */
span.astral {
  color: var(--color-astral);
}

/* 《技》 */
span.mental {
  color: var(--color-mental);
}

/* 《体》 */
span.ether {
  color: var(--color-ether);
}

/* -------------------------------------------------- */
/* カード */
/* -------------------------------------------------- */

/* コンテナ */
.card {
  background: var(--color-sub);
  border-radius: 8px;
  margin-bottom: var(--margin-arts);
  padding: 2px;
  position: relative;
}

/* ヘッダー */
.card>.area-head {
  display: flex;
  background: var(--color-sub);
  border-bottom: solid 1px var(--color-sub);
  border-radius: 8px 8px 0 0;
  color: #fff;
}

/* タイトル */
.card>.area-head>.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 220px;
  padding: 12px;
  background-repeat: no-repeat;
  background-position: right 8px bottom 50%;
}

/* タイトル：併用 */
.card.chain>.area-head>.title {
  background-image: url(../img/arts/chain.png);
}

/* タイトル：常時 */
.card.passive>.area-head>.title {
  background-image: url(../img/arts/passive.png);
}

/* タイトル：ルビ */
.card>.area-head>.title>span.ruby {
  font-size: 0.8em;
  line-height: 1;
}

/* タイトル：メイン */
.card>.area-head>.title>span.main {
  font-size: 1.2em;
  font-weight: bold;
}

/* データ */
.card>.area-head>.data {
  display: grid;
  grid-template-columns: 1fr calc(5em + 44px) calc(5em + 44px) calc(7em + 44px);
  flex: 1;
  background: #fff;
  border-top-right-radius: 8px;
  color: #000;
}

/* データ＞文章＞セル */
.card>.area-head>.data>.cell {
  display: flex;
  align-items: center;
  border: solid 1px var(--color-sub);
}

/* データ＞文章＞セル＞見出し */
.card>.area-head>.data>.cell>.cover {
  display: flex;
  height: 100%;
  background: var(--color-sub-alpha);
  margin-right: 12px;
  padding: 2px 8px;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  color: #000 !important;
}

/* データ＞文章＞セル：全幅 */
.card>.area-head>.data>.cell.fullWidth {
  grid-column: 1 / 5;
}

/* 説明文 */
.card>.area-detail {
  background: #fff;
  border: solid 1px var(--color-sub);
  border-radius: 0 0 8px 8px;
  padding: 12px;
}

/* 説明文 */
.card>.area-detail p {
  margin: 0;
}

/* 説明文：間隔 */
.card>.area-detail p+p {
  margin-top: 8px;
}

/* 説明文：分岐 */
.card>.area-detail .branch {
  display: flex;
  gap: 12px;
}

/* 説明文：分岐＞条件 */
.card>.area-detail .branch>.condition {
  display: inline-block;
  background: var(--color-sub-alpha);
  height: fit-content;
  padding: 0 8px;
  padding-right: 18px;
  word-break: keep-all;
  clip-path: polygon(0 0, 100% 0, calc(100% - 12px) 0, 100% 50%, calc(100% - 12px) 100%, 100% 100%, 0 100%);
}

/* 説明文：フレーバー */
.card>.area-detail>.note {
  margin-top: 12px;
  color: var(--color-sub);
  text-align: right;
  transform: skewX(-20deg);
}

/* 説明文：フレーバー（解説用） */
#arts-tutorial .card>.area-detail>.note {
  color: #000;
  transform: none;
}

/* 説明文なし：ヘッダー */
.card.easy>.area-head {
  border-bottom: none;
}

/* 説明文なし：右下角丸 */
.card.easy>.area-head>.data,
.card.easy>.area-head>.data>.cell:last-child {
  border-bottom-right-radius: 8px;
}

/* 強調セル */
.strong_cell,
/* 無効セル */
.invalid_cell {
  background: #ffc;
}

/* 無効セル */
.invalid_cell {
  color: rgba(0, 0, 0, 0.35);
}

/* ベース判定 */
.card.tag {
  margin-top: 2em;
}

/* ベース判定：先頭要素 */
.card.tag::before {
  content: attr(tag);
  background: var(--color-main);
  border-radius: 4px;
  padding: 2px 8px;
  position: absolute;
  top: -12px;
  left: -12px;
  color: #fff;
  font-size: 14px;
}