/* -------------------------------------------------- */
/* 定数 */
/* -------------------------------------------------- */

:root {
  /* アーツ：下部マージン */
  --margin-arts: 12px;

  /* 《心》；サブカラー */
  --color-astral: rgb(128, 160, 128);

  /* 《心》；サブカラー（透過） */
  --color-astral-alpha: rgb(210, 230, 210);

  /* 《技》；サブカラー */
  --color-mental: rgb(128, 128, 160);

  /* 《技》；サブカラー（透過） */
  --color-mental-alpha: rgb(210, 210, 230);

  /* 《体》；サブカラー */
  --color-ether: rgb(160, 128, 128);

  /* 《体》；サブカラー（透過） */
  --color-ether-alpha: rgb(230, 210, 210);
}

/* -------------------------------------------------- */
/* タグジャンプ */
/* -------------------------------------------------- */

/* ヘッダー×２分マージン */
.jump_tag {
  margin-top: calc(var(--sticky-row-height) * -2 - var(--margin-arts));
  padding-top: calc(var(--sticky-row-height) * 2 + var(--margin-arts));
}

/* -------------------------------------------------- */
/* カード */
/* -------------------------------------------------- */

/* コンテナ */
.cards {
  display: flex;
  flex-direction: column;
  align-items: end;
}

/* カード */
.card {
  background: var(--color-sub);
  border-radius: 8px;
  width: 950px;
  margin-bottom: var(--margin-arts);
  padding: 2px;
  position: relative;
  box-sizing: border-box
}

/* ヘッダー */
.card>.area-head {
  display: flex;
  background: var(--color-sub);
  border-bottom: solid 1px var(--color-sub);
  border-radius: 8px 8px 0 0;
  color: #fff;
}

/* タイトル */
.card>.area-head>.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 220px;
  padding: 12px;
  position: relative;
  background-repeat: no-repeat;
  background-position: right 8px bottom 50%;
}

/* タイトル：常時 */
.card.passive>.area-head>.title {
  background-image: url(../img/arts/passive.png);
}

/* タイトル：ルビ */
.card>.area-head>.title>span.ruby {
  font-size: 0.8em;
  line-height: 1;
}

/* タイトル：メイン */
.card>.area-head>.title>span.main {
  font-size: 1.2em;
  font-weight: bold;
}

/* データ */
.card>.area-head>.data {
  display: grid;
  grid-template-columns: calc(10em + 44px) calc(5em + 44px) calc(5em + 44px) 1fr;
  flex: 1;
  background: #fff;
  border-top-right-radius: 8px;
  color: #000;
}

/* データ＞文章＞セル */
.card>.area-head>.data>.cell {
  display: flex;
  align-items: center;
  border: solid 1px var(--color-sub);
}

/* データ＞文章＞セル＞見出し */
.card>.area-head>.data>.cell>.cover {
  display: flex;
  height: 100%;
  background: var(--color-sub-alpha);
  margin-right: 12px;
  padding: 2px 8px;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  color: #000 !important;
}

/* データ＞文章＞セル：全幅 */
.card>.area-head>.data>.cell.fullWidth {
  grid-column: 1 / 5;
}

/* 説明文 */
.card>.area-detail {
  background: #fff;
  border: solid 1px var(--color-sub);
  border-radius: 0 0 8px 8px;
  padding: 12px;
}

/* 説明文＞段落 */
.card>.area-detail>p{
  margin: 0;
  margin-bottom: 0.5em;
}

/* 分岐 */
.branch {
  display: flex;
  gap: 12px;
}

/* 分岐 */
.area-detail>.branch:first-child {
  margin-top: 0 !important;
}

/* 分岐：感覚 */
.branch+.branch {
  margin-top: 4px;
}

/* 説明文：分岐＞条件 */
.branch>.condition {
  display: inline-block;
  background: var(--color-sub-alpha);
  height: fit-content;
  padding: 0 8px;
  padding-right: 18px;
  word-break: keep-all;
  clip-path: polygon(0 0, 100% 0, calc(100% - 12px) 0, 100% 50%, calc(100% - 12px) 100%, 100% 100%, 0 100%);
}

/* 説明文：フレーバー */
.card>.area-detail>.note {
  margin: 0;
  margin-top: 1em;
  color: var(--color-sub);
  text-align: right;
  transform: skewX(-20deg);
}

/* -------------------------------------------------- */
/* アクションの見方 */
/* -------------------------------------------------- */

/* 効果＞分岐 */
#arts-tutorial .branch {
  margin: 0.5em 0 0 0.75em;
}

/* 説明文：フレーバー */
#arts-tutorial .card>.area-detail>.note {
  color: #000;
  transform: none;
}

/* -------------------------------------------------- */
/* カード：《心》 */
/* -------------------------------------------------- */

/* カード */
.card.astral {
  background-color: var(--color-astral);
}

/* ヘッダー */
.card.astral>.area-head {
  background-color: var(--color-astral);
  border-color: var(--color-astral);
}

/* データ＞文章＞セル＞ */
.card.astral>.area-head>.data>.cell {
  border-color: var(--color-astral);
}

/* データ＞文章＞セル＞見出し */
.card.astral>.area-head>.data>.cell>.cover {
  background-color: var(--color-astral-alpha);
}

/* 説明文 */
.card.astral>.area-detail {
  border-color: var(--color-astral);
}

/* 説明文：分岐＞条件 */
.card.astral>.area-detail .branch>.condition {
  background-color: var(--color-astral-alpha);
}

/* -------------------------------------------------- */
/* カード：《技》 */
/* -------------------------------------------------- */

/* カード */
.card.mental {
  background-color: var(--color-mental);
}

/* ヘッダー */
.card.mental>.area-head {
  background-color: var(--color-mental);
  border-color: var(--color-mental);
}

/* データ＞文章＞セル＞ */
.card.mental>.area-head>.data>.cell {
  border-color: var(--color-mental);
}

/* データ＞文章＞セル＞見出し */
.card.mental>.area-head>.data>.cell>.cover {
  background-color: var(--color-mental-alpha);
}

/* 説明文 */
.card.mental>.area-detail {
  border-color: var(--color-mental);
}

/* 説明文：分岐＞条件 */
.card.mental>.area-detail .branch>.condition {
  background-color: var(--color-mental-alpha);
}

/* -------------------------------------------------- */
/* カード：《体》 */
/* -------------------------------------------------- */

/* カード */
.card.ether {
  background-color: var(--color-ether);
}

/* ヘッダー */
.card.ether>.area-head {
  background-color: var(--color-ether);
  border-color: var(--color-ether);
}

/* データ＞文章＞セル＞ */
.card.ether>.area-head>.data>.cell {
  border-color: var(--color-ether);
}

/* データ＞文章＞セル＞見出し */
.card.ether>.area-head>.data>.cell>.cover {
  background-color: var(--color-ether-alpha);
}

/* 説明文 */
.card.ether>.area-detail {
  border-color: var(--color-ether);
}

/* 説明文：分岐＞条件 */
.card.ether>.area-detail .branch>.condition {
  background-color: var(--color-ether-alpha);
}

/* -------------------------------------------------- */
/* カード：オート */
/* -------------------------------------------------- */